apache-airflow
apache-airflow-providers-slack
apache-airflow-providers-snowflake
slack_sdk
asgiref
psycopg2-binary
snowflake-connector-python
snowflake-sqlalchemy
pyspark
apache-airflow-providers-apache-spark
